
h1 {
    text-align: center;
    font-size: 18px;
  }
  
  table {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #ddd;
    font-weight: bold;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  button {
    background-color: #ec1839;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .btnII
  {
    background-color: orange;
  }
  
  
  button:hover {
    transform: scaleX(1.2);
  }
  .btnII:hover{
    background-color: #FFD580;

  }